* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-section {
  background-color: black;
}

.main-text {
  text-align: center;
  padding: 50px;
  color: white;
}

.card {
  min-height: 300px;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
}

.select-guia {
  padding-bottom: 50px;
}

.card {
  background-color: rgb(248, 249, 250);
  border: 0px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.18);
}

.card-select-guia article:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
}

.select-guia-text {
  text-align: center;
  padding: 50px;
}

.form-section {
  padding-bottom: 200px;
}

.form-section form {
  padding: 20px;
}

.contact-section {
  background-color: white;
}

.contact-section-text {
  text-align: center;
  padding: 50px;
}

.me-section {
  padding-bottom: 100px;
}

.me-section-text {
  text-align: center;
  padding: 50px;
}

.navbar-g {
  position: fixed;
  width: 100%;
  z-index: 20;
}

.sidebar {
  position: fixed;
  margin-top: 59px;
  width: 280px;
  height: 100%;
  padding: 1rem;
}

.contenido {
  margin-left: 280px;
  padding: 1rem;
  flex-grow: 1;
  padding-top: 100px;
  padding-bottom: 50px;
}

.contenido p {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

.contenido h3 {
  text-align: left;
}

.contenido ul {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

.section-footer {
  position: absolute;
  width: 100%;
  padding: 10px;
  background-color: rgb(248, 249, 250);
}

.section-footer-text {
  padding-top: 20px;
  color: black;
  text-decoration: none;
}

.section-footer-text-link {
  padding-top: 20px;
  color: rgb(0, 155, 163);
  text-decoration: none;
}

.btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: black;
  background-color: transparent;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded=true]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: rgb(146, 192, 62);
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  background-color: rgb(0, 155, 163);
  color: white;
}

.dropdown-menu a:active {
  background-color: rgb(146, 192, 62);
}

.btn-primary {
  background-color: rgb(0, 155, 163);
  border-color: rgb(0, 155, 163);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: rgb(146, 192, 62);
  border-color: rgb(146, 192, 62);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgb(146, 192, 62);
  border-color: rgb(146, 192, 62);
}

@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}
@media (min-width: 1000px) {
  .contenido h1 {
    display: none;
  }
}
@media (max-width: 1000px) {
  .contenido {
    margin-left: 0px;
    border-left: 0px;
  }
  .contenido p {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/*# sourceMappingURL=main.css.map */
